@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
.fundo{
  background: url(http://picsum.photos/600/1200/?blur) center no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}
.conteudo{
  background: #ffffffbb;
  margin: 0 24px;
  padding: 18px;
  border-radius: 14px;
  font-family: 'Kanit', sans-serif;
}
.frase{
  font-size: 34px;
}
.autor{
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}
.fade-in-top {
	animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
